.idea
.vscode
/target
/tests/gen/*.tokens
/tests/gen/*.interp
**/*.rs.bk
Cargo.lock

# VSCode Java plugin temporary files
javac-services.0.log
javac-services.0.log.lck

# Don't ignore python tests
!runtime/Python3/test/
Antlr4.sln
runtime/PHP
